.order-item {
  display: flex;
  min-height: 72px;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid #f5f2f0;
}

.order-item:hover {
  background: #fafafa;
}

.order-item:last-child {
  border-bottom: none;
}

.order-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.order-image {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  object-fit: cover;
}

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.order-title {
  align-self: stretch;
  color: #171412;
  font-feature-settings: "dlig" on;
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  width: 255px;
  flex-direction: column;
  align-items: flex-start;
}

.order-info {
  align-self: stretch;
  color: #8a7361;
  font-feature-settings: "dlig" on;
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order-arrow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.arrow-container {
  display: flex;
  width: 28px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.chevron-right {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #171412;
}
